//colors
$color_arapawa_6_approx: rgba(0,0,100,0.06);
$color_mine_shaft_approx: #2e2e2e;
$white: #fff;
$color_aqua_haze_approx: #ebf2f6;
$yellow: #ff0;
$black: #000;
$silver: #c0c0c0;
$color_cape_cod_approx: #3a4145;
$color_mabel_approx: #d6edff;
$color_gravel_approx: #4a4a4a;
$color_woodsmoke_approx: #111;
$gallery: #efefef;
$color_celeste_approx: #ccc;
$color_pale_prim_approx: #fdffb6;
$color_mystic_approx: #e3edf3;
$color_alabaster_approx: #f7fafb;
$color_storm_dust_approx: #666;
$wild_sand: #f4f4f4;
$black_20: rgba(0, 0, 0, 0.2);
$color_black_haze_approx: #f6f6f6;
$color_wild_sand_approx: #f2f3f5;
$color_log_cabin_approx: #222;
$color_mountain_mist_approx: rgb(150,150,150);
$color_pink_swan_approx: #b8b8b8;
$white_20: rgba(255,255,255,0.2);
$white_50: rgba(255,255,255,0.5);
$white_70: rgba(255,255,255,0.7);
$black_15: rgba(0,0,0,0.15);
$white_60: rgba(255, 255, 255, 0.6);
$color_loblolly_approx: #bfc8cd;
$color_hit_gray_approx: #9eabb3;
$color_fuscous_gray_approx: #555;
$white_80: rgba(255,255,255,0.8);
$black_80: rgba(0,0,0,0.8);
$black_50: rgba(0,0,0,0.5);
$color_aqua_squeeze_approx: #e7eef2;
$color_rose_approx: #ed0677;
$color_geyser_approx: #d5dbde;
$color_submarine_approx: #bbc7cc;
$color_picton_blue_approx: #55acee;
$color_azure_approx: #3b5998;
$color_valencia_approx: #dd4b39;
$color_scarpa_flow_approx: #50585d;
$black_70: rgba(0,0,0,0.7);
$color_arapawa_4_approx: rgba(0,0,100,0.04);
$color_oslo_gray_approx: #889093;
$color_pewter_approx: #98a0a4;
$black_18: rgba(0, 0, 0, 0.18);

//fonts
$font_0: 'casper-icons';
$font_1: 'sans-serif';
$font_2: 'monospace';
$font_3: 'serif';
$font_4: 'Merriweather';
$font_5: 'serif';
$font_6: 'Open Sans';
$font_7: 'sans-serif';
$font_8: 'Inconsolata';
$font_9: 'monospace';
$font_10: 'sans-serif';
$font_11: 'Inconsolata';
$font_12: 'monospace';
$font_13: 'sans-serif';
$font_14: 'Open Sans';
$font_15: 'sans-serif';
$font_16: 'Open Sans';
$font_17: 'sans-serif';
$font_18: 'Open Sans';
$font_19: 'sans-serif';
$font_20: 'Merriweather';
$font_21: 'serif';
$font_22: 'Open Sans';
$font_23: 'sans-serif';
$font_24: 'Merriweather';
$font_25: 'serif';
$font_26: 'Open Sans';
$font_27: 'sans-serif';
$font_28: 'Open Sans';
$font_29: 'sans-serif';
$font_30: 'Open Sans';
$font_31: 'sans-serif';

//@extend-elements
//original selectors
//sub, sup
%extend_1 {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

//original selectors
//button, input, select, textarea
%extend_2 {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}

//original selectors
//h1, h2, h3, h4, h5, h6
%extend_3 {
	-webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	-moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	-o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
	color: $color_mine_shaft_approx;
	line-height: 1.15em;
	margin: 0 0 0.4em 0;
	font-family: $font_6, $font_7;
	text-rendering: geometricPrecision;
}

//original selectors
//p, ul, ol, dl
%extend_4 {
	-webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	-moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	-o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
	margin: 0 0 1.75em 0;
	text-rendering: geometricPrecision;
}

//original selectors
//code, tt
%extend_5 {
	padding: 1px 3px;
	font-family: $font_8, $font_9, $font_10;
	font-size: 0.85em;
	white-space: pre-wrap;
	border: $color_mystic_approx 1px solid;
	background: $color_alabaster_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
}

//original selectors
//pre code, pre tt
%extend_6 {
	font-size: inherit;
	white-space: pre-wrap;
	background: transparent;
	border: none;
	padding: 0;
}

//original selectors
//table th, table td
%extend_7 {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: $gallery 1px solid;
}

//original selectors
//.nav-close:before, .nav-close:after
%extend_8 {
	content: '';
	position: absolute;
	top: 0;
	width: 20px;
	height: 1px;
	background: $color_mountain_mist_approx;
	top: 15px;
	-webkit-transition: background 0.15s ease;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: background 0.15s ease;
}

//original selectors
//.older-posts, .newer-posts
%extend_9 {
	position: absolute;
	display: inline-block;
	padding: 0 15px;
	border: $color_loblolly_approx 1px solid;
	text-decoration: none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	//Instead of the line below you could use @include transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: border 0.3s ease;
}

//original selectors
//.masonry .post:hover .post-image img, .masonry .post:focus .post-image img
%extend_10 {
	-webkit-transform: scale(1.5);
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: scale(1.5);
	opacity: 0.7;
    // https://www.binarymoon.co.uk/2014/02/fixing-css-transitions-in-google-chrome/
    //-webkit-transform: translateZ(0);
}